@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-frame-1: #212529;
  --color-frame-2: #343a40;
  --color-frame-3: #495057;
  --color-frame-4: #6c757d;
  --color-frame-5: #adb5bd;
  --color-frame-6: #ced4da;
  --color-frame-7: #dee2e6;
  --color-frame-8: #e9ecef;
  --color-frame-9: #f8f9fa;
}

body {
  font-family: "Source Sans 3", sans-serif;
  overflow-x: hidden;
}

.section-styles {
  @apply min-h-screen max-w-[1440px] mx-auto px-4 py-20 text-frame-1 dark:text-frame-9;
}
/* .section-styles {
  @apply min-h-[calc(100vh-64px)] max-w-[1440px] mx-auto px-4 py-16;
} */

* {
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn-outline {
  @apply border border-frame-3 dark:border-frame-6 rounded flex items-center gap-2 font-semibold transform hover:scale-105 transition-all duration-200 text-frame-2 dark:text-frame-8 cursor-pointer;
}
.btn-primary {
  @apply bg-frame-2 text-frame-9 dark:bg-frame-9 dark:text-frame-1 rounded flex items-center gap-2 font-semibold transform hover:scale-105 transition-all duration-200 cursor-pointer;
}

/* .custom-nav-links {
  @apply text-lg font-medium  text-frame-5 hover:text-frame-9 cursor-pointer transition  duration-300;
} */

.section-title {
  @apply text-3xl md:text-5xl font-bold mb-4 text-frame-1 dark:text-frame-9;
}
.section-sub-title {
  @apply mt-6 mb-12 max-w-3xl mx-auto text-frame-3 dark:text-frame-7 text-center;
}

